@model IEnumerable<LanguageModel>
@{
    ViewData["Title"] = "Languages";
}

<h1><b>List of Languages</b></h1>

<a asp-action="CreateLanguage">Create</a>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Language Name</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var language in Model)
        {
        <tr>
            <td>@language.LanguageID</td>
            <td>@language.Name</td>
            <td>@language.Description</td>
            <td> @Html.ActionLink("Edit", "EditLanguage", new { languageid = language.LanguageID }) | @Html.ActionLink("Delete", "DeleteLanguage", new { languageid = language.LanguageID }) </td>

        </tr>
        }
    </tbody>
</table>

